body{
    background: #FFFFFF;
}
p{
    margin: 0;
}
.icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.icon i{
    width: 25px;
    height: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
/* start navbar styleing */
nav{
    width: 100%;
    float: left;
}
.nav_scroll{
    position: fixed;
    top: 20px;
    z-index: 999;
    transition: all 1s;
}
.humbarger_icon{
    display: none;
}
.logo{
    float: left;
}
main{
    width: 85%;
    height: 90px;
    margin: 0 auto;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.37);
    padding: 10px;
    background-color: #ffffffea;
}
.custum_navbar{
    float: right;
    display: flex;
}
.custum_navbar_item{
    list-style: none;
    margin: 0 15px;
}
.custum_navbar_link{
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: relative;
    padding-bottom:7px;
}
.custum_navbar_link::before{
    position: absolute;
    content: '';
    width: 0;
    height: 3px;
    background:linear-gradient(to right, #EE5E3B,#471306,yellow);
    bottom: 0;
    transition: .5s ease-in-out;
}
.custum_navbar_link:hover:before{
    width: 100%;
}
.custum_navbar i{
    width: 30px;
    height: 30px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: 29px 0;
}
.btn_nav{
    height: 40px;
    background-color: #EE5E3B;
    margin: 12px 0;
    border-radius: 20px;
    border: none;
    color: #fff;
    padding: 0 17px;
}
.btn_nav:hover {
    color: #ffffff !important;
    background: linear-gradient(to top, #be4b2f, #df5532);
  }
  /* .websitesolu::after{
    position: absolute;
    content: '';
    height: 4px;
    background: #17756E;
    left: 42.5%;
    bottom: 0;
    animation: forwards 2s websolu;
    animation-play-state: running;
    transition: .5s;
    z-index: -1;
  }
  .websitesolu:hover::after{
    height: 40px;
  }
  @keyframes websolu {
    0%{
      width: 0;
    }
    100%{
      width: 218px;
      transition: .3s;
    }
  } */
@media (max-width:768.98px) {
    nav{
        border-bottom: 1px solid rgba(0, 0, 0, 0.238);
        border-top: 1px solid rgba(0, 0, 0, 0.248);
    }
    main{
        width: 90%;
        box-shadow: none;
    }

    .custum_navbar{
        height: 0;
        width: 100%;
        float: none;
        display: block;
        margin: 79px 0 0 0;
        padding: 0;
        overflow: hidden;
        transition: 1s;
        background-color: rgb(255, 255, 255);
        position: sticky;
        z-index: 1000;
    }
    .nav_scroll{
        display: none;
    }
    .active{
        height: 300px;
        transition: all .5s;
        border-bottom: 1px solid black;
    }
    .active-one{
        height: 0;
        transition: all .5s;
    }
    .humbarger_icon{
        height: 30px;
        display: block;
        float: right;
        margin: 17px ;
        font-size: 30px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        line-height: 0;
    }
    .wrong_icon{
        display: none;
        animation: mymove .5s;
    }
    @keyframes mymove {
        100% {transform: rotate(180deg);}
      }
  }
@media (min-width:768px) and (max-width:1024px) {
    main{
        width: 90%;
        margin: 0 auto;
    }
    .custum_navbar_item{
        margin: 0 5px;
    }
}
/* End Nabar style */

/* card slider stleling */
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    cursor: default;
    cursor: grab;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /* End card slider stleling */
  #shadow{
    box-shadow: 0px 3px 10px #0000004f;
    border-radius: 10px;
  }
#shadow:hover{
    box-shadow: 0px 5px 12px #00000083;
}
.select_option{
    border: none;
    outline: none;
    padding: 10px 20px;
}

#know{
    background-image:linear-gradient(rgba(0, 0, 0, 0.507),rgba(0, 0, 0, 0.605)), url(images/brandcurb-web-dev-industry-web.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    border-radius: 10px;
    transition: 1s; 
}
#know:hover{
    background: linear-gradient(to right,#15766F,#C86244);
    margin-top: -13px;
}
#know .content{
    margin-top: 200px;
}

.card i{
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto;
    font-size: 40px;
}
#cards{
    margin-top: 40px;
}
#cards:hover{
    margin-top: 20px;
    transition: 1s;
}

.section{
/* clip-path: polygon(100% 0, 100% 65%, 0 100%, 0 0); */
background: linear-gradient(to right,#D36141,#17756E);
}

/* card slider owl two */
.cards-container {
    position: relative;
    margin-top: 30px;
  }
  .cards-container .owl-stage-outer {
    padding: 10px 0;
  }
  .cards-container .owl-nav {
    display: none;
  }
  .cards-container .owl-dots {
    text-align: center;
  }
  .owl-dots{
    height: 25px;
  }
  .owl-dot.active{
    height: 20px;
  }
  .owl-stage{
    height: 230px;
  }
  .owl-item.active.center{
    height: 230px;
    border: none;
  }
  .owl-item.active{
    height: 250px;
    border: none;
  }
  .cards-container .owl-dots span {
    position: relative;
    height: 8px;
    width: 8px;
    border-radius: 15px;
    display: block;
    background: #ffffff;
    margin: 0 5px;
    transition: .5s ease-in-out;
  }
  .cards-container .owl-dots .active {
    box-shadow: none;
  }
  .cards-container .owl-dots .active span {
    background: #01b0f8;
    box-shadow: none;
    height: 10px;
    width: 25px;
    margin-bottom: -1px;
  }
  .cards-container .card {
    background: #fff;
    box-shadow: 0 8px 30px -7px #c9dff0;
    margin: 0 20px;
    padding: 0 10px;
    border-radius: 20px;
    border: 0;
    cursor: grab;
  }
  .cards-container .active {
    opacity: 1;
    transition: all 0.3s;
  }
  .cards-container .center {
    opacity: 1;
  }
  @media (max-width: 767px) {
    .cards-container {
      margin-top: 20px;
   }
  }
  .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
    outline: 0;
  }
  .owl-carousel button.owl-dot {
    outline: 0;
  }
  /* End the card slider two */

  /* Start the progress bar */
@keyframes progress {
  0% { --percentage: 0; }
  100% { --percentage: var(--value); }
}

@property --percentage {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

[role="progressbar"] {
  --percentage: var(--value);
  --primary: #EE5E3B;
  --secondary: #3030300a;
  --size: 200px;
  animation: progress 2s 0.5s forwards;
  width: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
}


[role="progressbar"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(var(--primary) calc(var(--percentage) * 1%), var(--secondary) 0);
  mask: radial-gradient(white 55%, transparent 0);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(#0000 55%, #000 0);
  -webkit-mask-mode: alpha;
}

[role="progressbar"]::after {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%';
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--primary);
}
  /* End the progress bar */
